@charset "UTF-8";

.relative{
    position: relative;
    padding:0;
}



#side{
    position: absolute;
    top: 340px;
    left:  69%;
    padding: 0.5em 1em;
    margin: 0 0;
    color: #5d627b;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);

    background-color: rgb(217, 255, 179);

}

#profile{
    background-color: rgb(166, 0, 255,0.4);
    text-align: center;
    margin: 0 0;
    border: double 5px #4ec4d3;
    font-size: 20pt;
}

#Shimaenaga{
    height: 150px;
}

#main{
    position: absolute;
    top: 340px;
    
    padding: 0.6em 0.6em;
    width: 68%;
    background-color: rgb(198, 207, 188);

}

h1{
    text-align: center;
    background-color: #999eb7;
}

.figure{
    height: 400px;
    width: 300x;
}

#lie{
    text-align: center;    
    font-size: 40pt;
}

.article{
    height: 150px;
    width: 98%;
    background-color: rgb(240, 248, 255);
    display: flex;
    border: 2px solid rgb(58, 58, 58,0.8);
    margin: 10px;
}

.words{
    height: 200px;
    width: 80%;
    padding-left: 2%;
}

.grey{
    color: grey;
}

.title{
    background-color: rgb(211, 218, 225);
}

.Nam{
    text-align: center;
}

#page_top{
    width: 100px;
    height: 60px;
    position: fixed;
    right: 0;
    bottom: 0;
    background: #7d3fef;
    opacity: 0.6;
  }
  #page_top a{
    position: relative;
    display: block;
    width: 100px;
    height: 60px;
    text-decoration: none;
  }
  #page_top a::before{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f102';
    font-size: 25px;
    color: #fff;
    position: absolute;
    width: 25px;
    height: 25px;
    top: -25px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
  }
  #page_top a::after{
    content: 'PAGE TOP';
    font-size: 13px;
    color: #fff;
    position: absolute;
    top: 30px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
  }