@charset "UTF-8";

.relative{
    position: relative;
    padding:0;
}



#side{
    position: absolute;
    top: 340px;
    left:  69%;
    padding: 0.5em 1em;
    margin: 0 0;
    color: #5d627b;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);

    background-color: rgb(217, 255, 179);

}

#profile{
    background-color: rgb(166, 0, 255,0.4);
    text-align: center;
    margin: 0 0;
    border: double 5px #4ec4d3;
    font-size: 20pt;
}

#Shimaenaga{
    height: 150px;
}

#main{
    position: absolute;
    top: 340px;
    
    padding: 0.6em 0.6em;
    width: 68%;
    background-color: rgb(198, 207, 188);

}

h1{
    text-align: center;
    background-color: #999eb7;
}

.figure{
    height: 400px;
    width: 300x;
}

#lie{
    text-align: center;    
    font-size: 40pt;
}

/* dropdowncontent内ではaはblockになります
.dropdowncontent a{
    display: none;
} */
/* なにこれ */