@charset "UTF-8";

body {
    margin: -1px;
    padding: 0;
}
#title{
    /* 文字の大きさ */
    font-size: 40pt;
    /* 文字の位置  */
    text-align:center;
    /* 空白調整 */
    margin-bottom: 5px;
    color: crimson;
    font-family: serif;
    font-style:oblique;
    background-color: rgba(255, 255, 255, 0.4); 
}

/* id は #name class は .nameで定義 */
#subtitle{
    font-size: 30pt;
    text-align:center;
    margin-top: 5px;
    /* フォント指定 */
    font-family: Monotype Corsiva;
    background-color: rgba(255, 255, 255, 0.4); 
}

#titlebackground{
    background-image: url('../Image/Enoshima.jpg');
   
    /* 画像をブロック全体にフィットさせる */ 
    background-size: cover; 
    /* 画像を中央に配置 */
    background-position: center;
    padding-top: 20px; 
    padding-bottom: 20px;
}
